
body{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 1.5em;
    margin: auto 0;
   
     
   }

#animation_container{
    position: absolute;
    z-index: -1;
    margin:auto;
	left:-100%;right:-100%;
    top:-100%;bottom:-100%;
    width: 50%;
    height: auto;
    
  }



.btn-outline-success {
    color: red;
    border-color: red;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: red
    ;
    border-color: red;
}